
// Place your apps css here

.watering_button_open {
 color: #F0F0FC;
 background-color: #0BD66D;
 padding: 5px;
}
.watering_button_close {
 color: #F0F0FC;
 background-color: #73BF98;
 padding: 5px;
}

.message-table {
  width: auto;
  
  border-collapse: collapse;

  tr {
    &.selected td {
      background-color: #428bca;
      color: #FFFFFF;

      button {
        color: #000000;
      }
    }

    td {
      border-top: 1px solid #EEEEEE;

      &.complete {
        text-decoration: line-through;
        color: #CCCCCC;
      }
    }
  }

}