<:Title>
  Water your garden when you're not home

<:Body>
 <div class="row">

      <h1>Device messages</h1>

  <table class="message_table">
    <tr>
      <td class="col-md-4" > 
        _valves.
  <button e-click="add_message(1,'open')" class="watering_button_open">Open 1</button>
      </td>
      <td class="col-md-4" > 
  <button e-click="add_message(2,'close')" class="watering_button_close">Close 2</button>
      </td>
    </tr>
  </table>  

  <table />
  
  <table class="message_table">
    <tr>
      <th align="center" > Time </th>
      <th align="center" > Device </th>
      <th align="center" > Valve </th>
      <th align="center" > Action </th>
      <th align="center" > Message On Device </th>
      <th align="center" > Remove </th>
    </tr>
    {{ _messages.each do |m| }}
    <tr>
      <td class="col-md-4" > {{ m._time }} </td>
      <td align="center" > {{ m._device_id }} </td>
      <td align="center" > {{ m._valve_id }} </td>
      <td align="center" > {{ m._action.camelize }} </td>
      <td align="center" > {{ m._dev_ack }} </td>
      <td align="center" ><button e-click="m.destroy">X</button></td>
    </tr>
    {{ end }}
  </table>

  <table class="message-table">
        {{page._messages.each_with_index do |msg, index| }}
        <!-- Use params to store the current index -->
        <tr
          e-click="params._index = index"
          class="{{ if (params._index || 0).to_i == index }}selected{{ end }}"
          >
          <td><input type="checkbox" checked="{{ msg._completed }}" /></td>

          <td><button e-click="msg.destroy">X</button></td>
        </tr>
        {{ end }}
      </table>

  </div>
